<div class="centered-page-wrapper" style="margin-top: 2rem;">
  <div class="page-header">
    <h1>Edit Movie</h1>
  </div>

  <%= render "form", movie: @movie %>

  <%= link_to "← Back to Movie", movie_path(@movie), class: "back-link" %>
</div>
