<div class="centered-page-wrapper" style="margin-top: 2rem;">
  <div class="page-header">
    <h1>Add New Movie</h1>
  </div>

  <%= render "form", movie: @movie %>

  <%= link_to "← Back to Movies", movies_path, class: "back-link" %>
</div>
