<div class="centered-page-wrapper" style="margin-top: 2rem;">
  <div class="page-header">
    <h1>Add New User</h1>
  </div>

  <%= render "form", user: @user %>

  <%= link_to "← Back to Users", users_path, class: "back-link" %>
</div>
